body {
    font-family: Arial;
    margin: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #333;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}