body { 
    font-family: Arial;
    margin: 0;
    background-color: black; /* fundo preto */
    color: white; /* texto padrão branco pra contrastar */
}

header {
    background-color: #111;
    color: orange; /* título principal laranja */
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    color: orange; /* links laranja */
    text-decoration: none;
    font-weight: bold;
}

section {
    background: #1c1c1c; /* um preto mais claro pra destacar */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    color: orange; /* títulos e subtítulos laranja */
}

button {
    padding: 10px;
    background-color: orange; /* botão laranja */
    color: black;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: darkorange; /* efeito ao passar o mouse */
}

footer {
    background-color: black;
    color: orange;
    text-align: center;
    padding: 10px;
}